* {
  box-sizing: border-box;
}

nav {
  display: flex;
  background-color: darkgray;
  justify-content: flex-end;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-links {
  list-style-type: none;
  display: flex;
  padding: 5px;
  margin: 15px;
}

header {
  text-align: center;
  padding: 10px;
  margin-top: 50px;
}

h2 {
  margin-top: -10px;
}

.joke-list {
  margin: 10px;
}
.user-joke1 {
  background-color: lightgray;
  padding: 10px;
}

.user-joke2 {
  background-color: darkgray;
  padding: 10px;
}

footer {
  background-color: darkgrey;
  text-align: center;
  padding: 10px;
}